h1 {
font-size: 25px;
font-weight: lighter;
border-bottom: solid;
border-bottom-width: thin;
}

h2 {
font-size: 15px;
font-weight: lighter;
}

.piecharttitel {
margin-bottom: -100px;
font-size: 25px;
font-weight: lighter;
border-bottom: solid;
border-bottom-width: thin;
}

.piechartsub {
font-size: 15px;
font-weight: lighter;
margin-top: 110px;
margin-bottom: -100px;
}

body { 
background-color: #30303d; color: #fff;
font-family: sans-serif;
}

#piechartdiv {
width: 100%;
height: 800px;
}

#chordchartdiv {
width: 100%;
height: 800px;
}

ul {
border-style: solid;
border-width: thin;
}

class.green {
color: limegreen;
font-weight: 600;
}

.legenda {
width: 55%;
position: absolute;
padding-left: 450px;
padding-top: 45%;
margin-bottom: 20px;
}

.link {
color: dimgrey;
position: sticky;
float: right;
}
